@use "global" as *;

.service__inner {
    max-width: rem(600);
    width: 100%;

    @include mq("md") {
        max-width: rem(1200);
    }
}

.service__cards {


    @include mq("md") {
        display: flex;
        flex-direction: column;
        gap: rem(40);
    }
}

.service__title {
    text-align: center;
}