@use "global" as *;

.top-news {
    position: relative;
    background-image: url(../images/common/sub-space-pc5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-news::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( $black, 0.6);
    z-index: 0;
    pointer-events: none;
}

.top-news__wrap {
    display: flex;
    padding: rem(140) 0;

    @include mq("md") {
        display: block;
        padding: rem(60) 0;
    }
}

.top-news__content {
    width: 20%;
    @include mq("md") {
        width: 100%;
    }
}

.top-news__nav-menu {
    margin-top: rem(40);
}

.top-news__wrapper {
    width: 80%;
    padding-left: rem(58);
    border-left: rem(1) solid  $black;

    @include mq("md") {
        width: 88.06%;
        margin-top: rem(36.8);
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        border-left: 0;
    }
}

.top-news__btn {
    text-align: right;
    margin-top: rem(39);
    margin-right: rem(16);
}